build/*
.vscode
.ignore
ravenous.vcxproj
ravenous.vcxproj.filters
ravenous.vcxproj.user
ProjectSettings.json
.sqlite
.suo
.db
.opendb
.vs/*
Debug/*
assets/*
imgui.ini
scenes/*
recordings/*
!scenes/test.txt
!scenes/world.txt
camera.txt
src/ravenous.code-workspace
lib/build/*
lib/*
tools/*
recordings/*
.idea/*
x64/*
CppProperties.json
imgui.ini
Ravenous.sln.DotSettings
Ravenous.sln.DotSettings.user
vc140.pdb
bin/*