build/*
.vscode
.ignore
ravenous.vcxproj
ravenous.vcxproj.filters
ravenous.vcxproj.user
ProjectSettings.json
.sqlite
.suo
.db
.opendb
.vs/*
Debug/*
ravenous.sln
assets/*
imgui.ini
scenes/*
recordings/*
!scenes/test.txt
!scenes/world.txt
camera.txt
src/ravenous.code-workspace
lib/build/*
lib/*
tools/*
recordings/*
CppProperties.json